/* 


.cards{

    color: aliceblue;
    background-color:#1F3F51 ;
    border: 3px solid red ;
    border-radius: 11px;
    background: rgb(18,13,111);
}


.left_cards{
    color: aliceblue;  
    border: 3px solid red ;
    border-radius: 11px;
background: linear-gradient(to bottom right, rgba(18,13,111,1) 2%, rgba(7,120,143,1) 42%, rgba(15,15,101,1) 88%);

}

.scards{
    

    color: aliceblue;
    background: rgb(18,13,111);
    border: 3px solid rgb(192, 42, 42) ;
    border-radius: 11px;
}

.scards div{
    margin: 10px;
}
.cards div
{ margin: 4px;}



.bcards{
    color: aliceblue;
    background-color:#1F3F51 ;
    border-radius: 11px;    
} */


.upper , .lower{
    display: flex;
    /* border: 2px solid red; */


}

.cards{
    /* border: 2px solid blue; */
    height: 12rem;
    width: 33%;
    margin: 0.5rem;
    margin-bottom: 3rem;
    background: linear-gradient(to bottom right, rgba(18,13,111,1) 2%, rgba(7,120,143,1) 42%, rgba(15,15,101,1) 88%);
    border-radius: 10px;

}

.cards div{
    margin: 0.2rem;
}

.scards{
    /* border: 2px solid greenyellow; */
    width: 33%;
    height: 6.5rem;
    margin: 0.5rem;
    background: linear-gradient(to bottom right, rgba(18,13,111,1) 2%, rgba(7,120,143,1) 42%, rgba(15,15,101,1) 88%);
    border-radius: 10px;
}

.scards div{
    margin: 0.2rem;
}


.left{

    width: 30%;
    height: 24rem;
    justify-content: center;
    align-items: center;
color: aliceblue;  
/* border: 3px solid red ; */
border-radius: 11px;
background: linear-gradient(to bottom right, rgba(18,13,111,1) 2%, rgba(7,120,143,1) 42%, rgba(15,15,101,1) 88%);
}

.left_cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.left_cards img{
    height: 5rem;
}

.left_cards div{
    margin: 10px;
}

.bcards{
    color: aliceblue;
    background-color:#1F3F51 ;
    border-radius: 11px;    
} 

